/* General styles */

body {
  margin: 0;
}

body > * {
  padding: 10px;
  font-size: 20px;
  border: 20px solid rgba(0,0,0,0.5);
}

/* specific boxes */

 header {
  background-color: green;
  color: white;
}

main {
  background-color: pink;
}

header {

}

footer {
    background-color: black;
    color: blue;
}

